<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        {# Materialize #}
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{{ asset("css/materialize.css") }}" media="screen,projection"/>
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        {# CSS #}
        <link type="text/css" rel="stylesheet" href="{{ asset("css/style.css") }}" media="screen,projection"/>
    {% endblock %}
</head>
<body>

{% block body %}
{% block nav %}
{% endblock %}
<div class="container">

    {% block content %}
    {% endblock %}


    {% block footer %}
    {% endblock %}


    {% block javascripts %}
        {#<!--JavaScript-->#}
        <script type="text/javascript" src="{{ asset("js/jquery-3.3.1.min.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/materialize.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/init.js") }}"></script>
        <script type="text/javascript" src="{{ asset("js/script.js") }}"></script>
    {% endblock %}


    {% endblock %}
</div>
</body>

</html>
